@import '@/assets/styles/variables';

.page {
  min-width: 100vw;
  min-height: 100vh;
  background: $secondary-color;
  background: linear-gradient(25deg, rgba(110, 218, 120, 1) 0%, rgba(255, 162, 0, 1) 100%);

  .layout {
    background-color: transparent;
    align-items: center;

    .content {
      width: 100%;
      max-width: $content-width;
      padding: 30px 50px 100px 50px;

      &.center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vW;
        height: calc(100vh - 150px);
      }
    }
  }
}
