

.shape {
  $active-color: #808080;

  position: relative;
  background-color: #fff;
  border-radius: 16px;
  padding: 18px;

  .triangle {
    $border-wide-width: 100px;
    $border-narrow-width: 45px;

    width: 0;
    height: 0;
    border-style: solid;
    border-color: yellow;
    
    &.top {
      border-top-width: $border-wide-width;
      border-left-width: $border-narrow-width;
      border-right-width: $border-narrow-width;

      border-bottom-width: $border-wide-width;
      border-bottom-color: $active-color;
    }

    &.bottom {
      border-bottom-width: $border-wide-width;
      border-left-width: $border-narrow-width;
      border-right-width: $border-narrow-width;

      border-top-width: $border-wide-width;
      border-top-color: $active-color;
    }

    &.left {
      border-top-width: $border-narrow-width;
      border-bottom-width: $border-narrow-width;
      border-left-width: $border-wide-width;

      border-right-width: $border-wide-width;
      border-right-color: $active-color;
    }

    &.right {
      border-top-width: $border-narrow-width;
      border-bottom-width: $border-narrow-width;
      border-right-width: $border-wide-width;

      border-left-width: $border-wide-width;
      border-left-color: $active-color;
    }
  }

  .square {
    width: 80px;
    height: 80px;
    background-color: $active-color;
  }
}

