@import '@/assets/styles/variables';

.shape {
  $size: 100px;
  $color: #808080;

  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  border-radius: 16px;
  padding: 22px 18px;

  &:hover {
    background-color: $primary-color;
    cursor: pointer;

    .trapezoid,
    .rhombus {
      .slice {
        border-top-color: $primary-color;
      }
    }

    .rhombus {
      .slice {
        &.left {
          border-left-color: $primary-color;
        }
      }
    }
  }

  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -12px;
    display: flex;
    justify-content: center;

    span {
      background-color: $secondary-color;
      color: #fff;
      padding: 5px 10px;
      border-radius: 23px;
    }
  }

  .triangle {
    $border-wide-width: 100px;
    $border-narrow-width: 45px;

    width: 0;
    height: 0;
    border-style: solid;
    border-color: yellow;
    
    &.top {
      border-top-width: $border-wide-width;
      border-left-width: $border-narrow-width;
      border-right-width: $border-narrow-width;

      border-bottom-width: $border-wide-width;
      border-bottom-color: $color;
    }

    &.bottom {
      border-bottom-width: $border-wide-width;
      border-left-width: $border-narrow-width;
      border-right-width: $border-narrow-width;

      border-top-width: $border-wide-width;
      border-top-color: $color;
    }

    &.left {
      border-top-width: $border-narrow-width;
      border-bottom-width: $border-narrow-width;
      border-left-width: $border-wide-width;

      border-right-width: $border-wide-width;
      border-right-color: $color;
    }

    &.right {
      border-top-width: $border-narrow-width;
      border-bottom-width: $border-narrow-width;
      border-right-width: $border-wide-width;

      border-left-width: $border-wide-width;
      border-left-color: $color;
    }
  }

  .square,
  .circle,
  .ellipse,
  .rectangle {
    width: $size;
    height: $size;
    background-color: $color;
  }

  .circle,
  .ellipse {
    border-radius: 50%;
  }

  .ellipse {
    width: $size * 1.8;
  }

  .rectangle {
    width: $size * 2;
  }

  .trapezoid,
  .rhombus {
    position: relative;
    width: $size * 2.5;
    height: $size;
    background-color: $color;

    .slice {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-top: $size solid #fff;

      &.left {
        left: 0;
        border-right: $size / 2.3 solid transparent;
      }
  
      &.right {
        right: 0;
        border-left: $size / 2.3 solid transparent;
      }
    }
  }

  .rhombus {
    .slice {
      &.left {
        border-top-color: $color;
        border-left: $size / 2.3 solid #fff;
        border-right: 0;
      }
    }
  }
}
